  <h2>Login</h2>

  <br>
  <!--<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>-->
  <!--<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>-->


<body>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
 <a href="{% url 'social:begin' 'google-oauth2' %}?"> সাইন ইন উইথ গুগল
    </a>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{276616036454673}',
      cookie     : true,
      xfbml      : true,
      version    : '{v3.0}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>