<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form method="post" class="horizontal" enctype="multipart/form-data">
     {% csrf_token %}
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">শব্দ করি যোগ </h3>
                   {% include 'forms.html' %}

                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">ধোঁকাও</button>
                </form>
                <script>
                    $(document).ready(function(){
                        $('#tags').select2({
                            placeholder : 'কই পাইসেন বলেন',
                            tags: true

                    });
                    });
                </script>
                <script>
                    $(document).ready(function(){
                        $('#syns').select2({
                            placeholder : 'প্রতিশব্দ জানলে বলেন নাকি উলটাপালটা শব্দ দিয়া দিসেন কে জানে'

                        });
                    });
                </script>
                <script>
                    $(document).ready(function(){
                        $('#ants').select2({
                            placeholder : 'বিপরীত শব্দ জানলে লেখেন'
                        });
                    });
                </script>
                    <script>
                        function validateForm(){
                            var namecheck = document.getElementById('name').value;
                            alert("বাংলায় লেখ শালা "+namecheck);
                            for (var i = 0; i < namecheck.length; i++) {
                                var code = namecheck.charCodeAt(i);
                                console.log(code+" ");
                            //    if (code>65 && code<70) {
                                if (!(code < 0x0980 || code > 0x09FF)) {
                                    alert("বাংলায় লেখ শালা");
                                    break;
                                }
                            }
                            var excheck = document.getElementById('sentence_ex').value;
                           // if (!(excheck.contains(namecheck))) {
                            //    alert("কি বালের উদাহরণ দেস বক্সদ!!!");
                            //}
                            //  var postalResult = postalRGEX.test(postalCode);
                            //  alert("phone:"+nameResult + ", postal code: "+postalResult);
                        }
                    </script>
</body>
</html>