{% load widget_tweaks %}

<html lang="en">
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.1/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"></script>

    <meta charset="UTF-8">
    {{ form.media.css }}

    <title>Title</title>
</head>
<body>
<form method="post" >
{% csrf_token %}
      {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th> <br>
        <td>
            {{ field }} <br>
            {{ field.errors }}
            {{ field.help_text }}
        </td>
          <br>
      </tr>
    {% endfor %}

    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">ধোঁকাও</button>
</form>
</body>
<script src="cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
{{ form.media.js }}
</html>