{% extends 'homeBootStrap4.html' %}
{% load staticfiles %}
{% block content %}


 <div class="container">
        <h3>নতুন শব্দ যোগ করুন</h3>
        <hr/>
<form method="post"  class="bg-light shadow-lg rounded p-4 mb-4">
{% csrf_token %}
      {% for field in form %}
      <tr>
        <th>{{ field.label_tag }}</th> <br>
        <td>
            {{ field }}
            {{ field.errors }}
            {{ field.help_text }}
        </td>
          <br>
      </tr>
    {% endfor %}
<br>
      <button type="submit" id="submit" name="submit" class="btn btn-block btn-success  text-white rounded">শব্দটি যোগ করুন</button>
</form>
 </div>


<script>

</script>

{% endblock %}