{% load staticfiles %}
<html lang="en">
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'></script>
    <meta charset="UTF-8">
    {{ form.media.css }}

    <title>Title</title>
</head>
<body>
<form method="post" >
{% csrf_token %}
      {% for field in form %}
      <tr>
        <th>{{ field.label_tag }}</th> <br>
        <td>
            {{ field }}
            {{ field.errors }}
            {{ field.help_text }}
        </td>
          <br>
      </tr>
    {% endfor %}
<br>
    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">ধোঁকাও</button>
</form>
</body>
{{ form.media.js }}
<script>
    $(document).ready(function() {
    $("#ant").select2({ width: 1000 });
});
     $(document).ready(function() {
    $("#syn").select2({ width: 1000 });
});
      $(document).ready(function() {
    $("#tags").select2({ width: 1000 });
});
</script>
</html>