<div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="শব্দ">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="def" name="def" placeholder="ব্যাখ্যা বনাম অর্থ" maxlength="80" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="sentence_ex" name="sentence_ex" placeholder="উদাহরণ" maxlength="80" rows="4"></textarea>
                        </div>
                    <div class="form-group">
                        <select name="taga[]" id="tags" class="form-control" multiple="multiple">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>প্রতিশব্দ জানলে বলেন নাকি উলটাপালটা শব্দ দিয়া দিসেন কে জানে </label>
                        <select name="synonym" id="syns" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>বিপরীত শব্দ জানলে বলেন নাকি এইটাও জানেন না? </label>
                        <select name="antonym" id="ants" class="form-control">
                        </select>
                    </div>