<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</html>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"></div>

                <div class="panel-body">
                        <div class="alert alert-success">
                        </div>

                    <div class="card-body">
                        <h5 class="card-header">হাছন রাজার ঘরবাড়ি</h5>
                        তুমি আর নেই সে তুমি
                        {{ UserSocialAuth.uid }}
                    </div>
                    <button onclick="localhost:8000/logout" > Logout </button>
                </div>
            </div>
        </div>
    </div>
</div>
