{% extends "homeBootStrap4.html" %}
{% load static %}
{% block content %}


<h4 class="text-info">#অক্ষরঃ ব</h4><hr>

<!--foor loop hobe-->

<div class="container">

    <div class="row">
        <!--for loop-->
        <div class="col-md-6  list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Disabled item</a>
        </div>
        <!--for loop-->
        <div class="col-md-6  list-group list-group-flush">
             <a href="#" class="list-group-item list-group-item-action">Disabled item</a>
        </div>
    </div>
</div>

{% endblock %}