{% extends "homeBootStrap4.html" %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
                <h4 class="text-info">#ট্যাগঃ  {{ tag.tag }}</h4><hr>
                <ul>
                {% for def in definitions %}
                   <div class="card shadow rounded">
                        <div class="card-header bg-secondary text-white">
                           <a class="text-white" href="{% url 'show_word' def.word.word_name %}">
                               <h5> {{ def.word.word_name }} </h5> </a>
                        </div>
                     <div class="card-body">
                     <span>ব্যাখ্যাঃ {{ def.define }}</span>
                    </div>
                 </div>
                {% endfor %}
                 </ul>
            </div>

</body>
</html>
{% endblock %}