  .btn-group button {
            background-color: #4CAF50; /* Green background */
            border: 1px solid green; /* Green border */
            color: white; /* White text */
            padding: 10px 24px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            float: left; /* Float the buttons side by side */
        }
        /* Clear floats (clearfix hack) */
  .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }
  .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }
        /* Add a background color on hover */
   .btn-group button:hover {
            color: #3e8e41;
            background-color: white;
            text-decoration: none;
        }


   a.social-link {
        display:inline;
        text-decoration:none;
        padding:0px 12px;
        margin: 0;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
        -ms-transition: background 0.1s linear;
        -o-transition: background 0.1s linear;
        transition: background 0.1s linear;
    }
    a.facebook{
        background-color:#4a66b7;
        color:#fff;
        text-decoration: none;
    }
    a.twitter {
        background-color:#00acee;
        color:#fff;
    }
    a.gplus {
        background-color:#dd4b38;
        color:#fff;
        text-decoration: none;
    }
    a.email {
        background-color:#ff9600;
        color:#fff;
    }
    a:hover.facebook {
        background-color:#fff;
        color: #4a66b7;
        text-decoration: none;
    }
    a:hover.twitter {
        background-color:#fff;
        color:#00acee;
        text-decoration: none;
    }
    a:hover.gplus {
        background-color:#fff;
        color:#dd4b38;
        text-decoration: none;
    }
    a:hover.email {
        background-color:#fff;
        color:#ff9600;
    }

    .word_today{
        color:#000;
        font-style: italic;
        font-weight: bold;
        text-decoration:none;
    }
    .word_today:hover{
        color:red;
        text-decoration:none;
    }
	.list-group-item:hover{
    color:white;
    textdecoration:none;
    background-color:blue;
    
	}